*{
    margin: 0;
    padding: 0;
}
.card{
    width: 350px;
    height: 400px;
    margin: 40px auto;
    position: relative;
}
.card img{
    width: 100%;
    vertical-align: middle;
}
.sale{
    background-color: red;
    color: white;
    width: 70px; height: 70px;
    border-radius: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.des{
    text-align: center;
    background-color: peru;
    color: white;
    padding: 20px;
    vertical-align: middle;
}