*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-login{
    width: 400px;

    background-color: #d9d9d9;
    margin: 70px auto;
}
.logo-header{
    width: 100%;
    height: 65px;
    /* background-color: aqua; */
    position: relative;
}
.logo{
    width: 100px;
    height: 100px;
    /* background-color: blueviolet; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    

}
.logo img{
    width: 100%;
}
.title-form{
    text-align: center;
    padding: 15px;
}
.form{
    text-align: center;
    padding: 10px;
}
.dong-1{
    margin-bottom: 15px;
}
.form input{
    width: 100%;
    padding: 10px;
}
.form button{
    padding: 10px;
    background-color: chocolate;
    border: none;
    color: white;
    width: 100%;
}
.thong-tin{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.thong-tin a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: coral;
}